{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block body %}

<section class="auth-wrapper floral-bg">
  <div class="auth-container">
    <h2>Reset Your Password</h2>
    <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.password.label }}
      {{ form.password(class="form-input") }}
      {{ form.confirm_password.label }}
      {{ form.confirm_password(class="form-input") }}
      {{ form.submit(class="btn-submit") }}
    </form>
  </div>
</section>

{% endblock %}