{% extends "base.html" %}

{% block title %} Change Password {% endblock %}

{% block body %}

<section class="auth-wrapper">
    <div class="auth-container">
        <h2>Change Password</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <label for="current_password">Current Password</label>
            {{ form.current_password(class="form-input") }}
        
            <label for="new_password">New Password</label>
            {{ form.new_password(class="form-input") }}
        
            <label for="confirm_new_password">Confirm New Password</label>
            {{ form.confirm_new_password(class="form-input") }}

                
            {{ form.change_password(class="btn-submit") }}
        </form>
    </div>
</section>


{% endblock %}