{% extends 'base.html' %}

{% block title %} Products {% endblock %}

{% block body %}

<section class="product-header text-center">
  <div class="container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>{{ selected_category if selected_category else 'All Products' }}</h1>
        <p class="lead">Explore our beautiful jewelry collection.</p>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid px-0">
  <div class="row no-gutters">
    {% for item in products %}
      <div class="col-6 col-md-3">
        <a href="/product/{{ item.id }}" class="product-link">
          <div class="product-card">
            <img src="{{ url_for('static', filename='uploads/' + item.product_picture) }}" class="img-fluid" alt="{{ item.product_name }}">
            <div class="product-overlay">
              <h5 class="product-name">{{ item.product_name }}</h5>
              <p class="product-price">${{ '%.2f'|format(item.price) }}</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}