{% extends "base.html" %}

{% block title %} Sign Up {% endblock %}

{% block body %} 


<section class="auth-wrapper">
    <div class="auth-container">
        <h2>Register</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <label for="email">Email</label>
            {{ form.email(class="form-input") }}
        
            <label for="username">Username</label>
            {{ form.username(class="form-input") }}
        
            <label for="password">Password</label>
            {{ form.password1(class="form-input") }}

            <label for="password">Confirm Password</label>
            {{ form.password2(class="form-input") }}

            <label for="phone_number">Phone Number</label>
            {{ form.phone_number(class="form-input") }}
        
            {{ form.submit(class="btn-submit") }}
        </form>
        <p class="form-switch">
            Already have an account? <a href="{{ url_for('auth.login') }}">Log in here</a>
          </p>

    </div>
</section>


{% endblock %}